In [2]:
import pandas as pd

## 예제 2-11 : 데이터 프레임의 기본 속성 알아보기

In [3]:
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']

In [4]:
births = [986, 155, 77, 578, 973]

In [5]:
BabyDataSet = list(zip(names, births))

In [6]:
BabyDataSet

[('Bob', 986), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [7]:
df = pd.DataFrame(data = BabyDataSet, columns =['Names', 'Births'])

In [8]:
df

     Names  Births
0      Bob     986
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [9]:
df.values

array([['Bob', 986],
       ['Jessica', 155],
       ['Mary', 77],
       ['John', 578],
       ['Mel', 973]], dtype=object)

In [10]:
df.axes

[RangeIndex(start=0, stop=5, step=1),
 Index(['Names', 'Births'], dtype='object')]

In [11]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
df.columns

Index(['Names', 'Births'], dtype='object')

In [13]:
df.dtypes

Names     object
Births     int64
dtype: object

In [14]:
df.shape, df.ndim, df.size

((5, 2), 2, 10)