In [1]:
import pandas as pd

##  예제 2-9 : 시리즈로 데이터프레임 생성

In [2]:
s1 = pd.Series([1,2,3,4], name='s1')

In [3]:
s2 = pd.Series(['a', 'b', 'c', 'd'], name='s2')

In [4]:
s1

0    1
1    2
2    3
3    4
Name: s1, dtype: int64

In [5]:
s2

0    a
1    b
2    c
3    d
Name: s2, dtype: object

In [6]:
df = pd.DataFrame({'s1' : s1, 's2' : s2})

In [7]:
df

   s1 s2
0   1  a
1   2  b
2   3  c
3   4  d

In [8]:
df['s1']

0    1
1    2
2    3
3    4
Name: s1, dtype: int64

In [9]:
s1 == df['s1']

0    True
1    True
2    True
3    True
Name: s1, dtype: bool

In [10]:
df_a = pd.DataFrame([s1,s2])

In [11]:
df_a

    0  1  2  3
s1  1  2  3  4
s2  a  b  c  d

In [12]:
df_b = pd.DataFrame(
    [
        [1,2,3,4],
        ['a', 'b', 'c', 'd']
    ]
)

In [13]:
df_b

   0  1  2  3
0  1  2  3  4
1  a  b  c  d