In [1]:
import pandas as pd

## 예제 2-2 데이터프레임 멤버 알아보기

In [2]:
df = pd.DataFrame([[1,2,3,4], [5,6,7,8]], index = ['a', 'b'], columns=['c1', 'c2', 'c3', 'c4'])

In [3]:
df

   c1  c2  c3  c4
a   1   2   3   4
b   5   6   7   8

In [4]:
df.ndim

2

In [5]:
df.size

8

In [6]:
df.index

Index(['a', 'b'], dtype='object')

In [7]:
df.columns

Index(['c1', 'c2', 'c3', 'c4'], dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, a to b
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      2 non-null      int64
 1   c2      2 non-null      int64
 2   c3      2 non-null      int64
 3   c4      2 non-null      int64
dtypes: int64(4)
memory usage: 80.0+ bytes