In [2]:
import pandas as pd

## 예제 3-15 범주형 데이터 생성

In [3]:
s = pd.Series(["a","b","c","a"], dtype="category")

In [4]:
s

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [5]:
s.shape

(4,)

In [6]:
s.values

['a', 'b', 'c', 'a']
Categories (3, object): ['a', 'b', 'c']

In [5]:
s.values.categories

Index(['a', 'b', 'c'], dtype='object')

In [6]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
s.dtype

CategoricalDtype(categories=['a', 'b', 'c'], ordered=False)

In [8]:
try : 
    s[2] = 'd'
except Exception as e :
    print(e)

Cannot setitem on a Categorical with a new category, set the categories first

In [9]:
s[2] = 'b'

In [10]:
try : 
    s[4] = 'c'
except Exception as e :
    print(e)

[4] not contained in the index

In [11]:
s.loc[4] ='c'

In [12]:
s

0    a
1    b
2    b
3    a
4    c
dtype: object

## 예제 3-16 범주형 데이터 클래스 이해하기

In [13]:
cat = pd.Categorical(['a','b','c'])

In [14]:
type(cat)

pandas.core.categorical.Categorical

In [13]:
cat.categories

Index(['a', 'b', 'c'], dtype='object')

In [14]:
# Categorical 범주형 데이터는 values로 데이터가 조회되지 않는다. categories로만 접근 가능
cat.values

AttributeError: 'Categorical' object has no attribute 'values'

In [20]:
cat.dtype

CategoricalDtype(categories=['a', 'b', 'c'], ordered=False)

In [21]:
s1 = pd.Series(["a","b","c","a"], dtype=cat.dtype)

In [22]:
s1

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): [a, b, c]

## 예제 3-17 데이터프레임에서 범주형 자료형 처리

In [23]:
import numpy as np

In [24]:
cat_1 = pd.Categorical(["a", "c", "c", np.nan], categories=["b", "a", "c"])

In [25]:
cat_1.dtype

CategoricalDtype(categories=['b', 'a', 'c'], ordered=False)

In [26]:
df = pd.DataFrame({"cat":cat_1, "s":["a", "c", "c", np.nan]})

In [27]:
df

   cat    s
0    a    a
1    c    c
2    c    c
3  NaN  NaN

In [28]:
df.select_dtypes(exclude=['object'])

   cat
0    a
1    c
2    c
3  NaN

In [29]:
df['cat'][3] = 'b'

In [30]:
df

  cat    s
0   a    a
1   c    c
2   c    c
3   b  NaN

In [31]:
df.loc[4,:] = ['a','a']

In [32]:
df

  cat    s
0   a    a
1   c    c
2   c    c
3   b  NaN
4   a    a