In [1]:
import pandas as pd

## 예제 1-5 연산을 수행할 경우 새로운 인스턴스 생성

In [2]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=list('abc'))

In [3]:
df_b = df + 99

In [4]:
df_b

     a    b    c
0  100  101  102
1  103  104  105
2  106  107  108

In [5]:
id(df_b),id(df)

(2022921686608, 2022921721168)

In [6]:
df_b.values.base is df.values.base

False

In [7]:
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
import numpy as np

In [10]:
s1 = pd.Series(index=list('abcd'), data=np.arange(4))

In [11]:
s2 = s1

In [12]:
s1 is s2

True

In [13]:
s3 = s1.copy()

In [14]:
s1 is s3

False

In [15]:
s1 is s2

True

In [16]:
s2 is s3

False