In [1]:
import pandas as pd

## 예제 1-9 축(Axis) 알아보기

In [2]:
df_sax = pd.Series([1,2,3,4])

In [3]:
df_sax

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
#axis=0 행 (세로 방향), axis=1열(가로방향)

In [5]:
df_sax.sum(axis=0)

10

In [6]:
df_dax = pd.DataFrame([[1,2,3,4],[5,6,7,8]])

In [7]:
df_dax

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [8]:
# 행을 고정하여 0열 ~ 3열 까지의 모든 행의 sum() 값을 순차적으로 보여줌

In [9]:
df_dax.sum(0)

0     6
1     8
2    10
3    12
dtype: int64

In [11]:
# 열을 고정하여 0행, 1행의 sum() 값을 순차적으로 보여줌 
df_dax.sum(1)

0    10
1    26
dtype: int64